
footer {
    display: flex;
    height: 80px;
    border-bottom: 1px solid $line-color;
    align-items: center;
    margin: 50px 0px;
    position: relative;

    ul {
        display: flex;
        flex-basis: 100%;
        height: 20px;
        font-family: $main-font;
        list-style: none;
        color: $font-color;
        justify-content: space-between;
        padding: 0;
    }

    a:link {
        color: $font-color;
    }
    
    a:visited {
        color: $font-color;
    }
    
    a:hover {
        color: $font-color;
    }
    
    a:active {
        color: $font-color;
    }
}

.fa-arrow-circle-up {
    visibility: hidden;
    position: absolute;
    top: 68px;
    left: 50%;
    transform: translateX(-12px);
    color: $title-color;
    text-decoration: none;
    font-size: 24px;

    a:link, a:visited, a:hover, a:active {
        color: $title-color;
    }
}