.page-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: $logo-font;
    color: $title-color;
    font-size: 48px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

nav {
    width: 80%;
    height: 40px;
    display: flex;
    justify-content: center;
}

.main-menu {
        font-family: $main-font;
        display: flex;
        width: 500px;
        height: 40px;
        margin: 0;
        line-height: 40px;
        flex-direction: row;
        list-style: none;
        justify-content: space-evenly;
        padding: 0;
        color: $font-color;

    a:link, a:visited {
        color: $font-color;
    }
    
    a:hover, a:active {
        color: $title-color;
    }
    
}

.sub-menu {
    display: none;
    font-family: $main-font;
    position: absolute;
    width: 120px;
    height: 130px;
    background-color: #f8f8f8;
    z-index: 1;
    padding-left: 30px;
    top: 40px;
    left: -30px;
    list-style: none;
    color: $font-color;
}

.menu-title {
    position: relative;
    padding-bottom: 20px;

    &:hover {
        color: $title-color;
        cursor: pointer;
    }

    &:hover .sub-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.menu-mobile {
    display: none;
    flex-basis: 200px;
    height: 30px;
    flex-grow: 1;
    flex-shrink: 1;
    line-height: 30px;
    background-color: $title-color;
    border-radius: 10px;
    position: relative;
    text-align: center;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.fa-bars {
    margin-top: 7px;
    margin-right: 10px;
}

.menu-mobile-title {
    color: #FFFFFF;
    font-family: $main-font;
    display: none;
    margin: 0;
}

.sub-menu-mobile {
    display: none;
    list-style: none;
}

.menu-mobile-list {
    display: none;
    width: 180px;
    height: 125px;
    background-color: $title-color;
    color: #FFFFFF;
    font-family: $main-font;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-90px);
    z-index: 2;
    list-style: none;
    padding-top: 5px;
    padding-left: 0;


    a:link, a:visited {
        color: #FFFFFF;
    }
    
    a:hover, a:active {
        color: #000000;
    }
}