$main-font: "IBM Plex Mono", monospace;
$logo-font: "Indie Flower", cursive;
$title-color: #fc784f;
$font-color: #808080;
$line-color: #e4dfe0;
$box-color: #fde2da;
$social-network-color: white; 
$facebook-color: #4267b2;
$twitter-color: #1da1f3;
$google-plus-color: #dd4b39;
$instagram-color: #8f6147;
$pinterest-color: #bd081b;